# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.log

# Virtual environment
venv/
ENV/
env/
.venv/

# Environment variables
.env


# IDE / Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / Packaging
build/
dist/
.eggs/
parts/
sdist/
wheels/
share/python-wheels/
*.manifest
*.spec

# Database
*.db
*.sqlite3

# Mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.cache/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Coverage reports
htmlcov/
.tox/
.coverage
coverage.xml
*.cover
*.py,cover
.cache

# macOS / Linux
.DS_Store
Thumbs.db
